.margin-top {
    margin-top: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-27 {
    margin-top: 27px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-54 {
    margin-top: 54px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-65 {
    margin-top: 65px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-90 {
    margin-top: 90px;
}

.margin-top-99 {
    margin-top: 99px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-110 {
    margin-top: 110px;
}

.margin-top-120 {
    margin-top: 120px;
}

.margin-top-140 {
    margin-top: 140px;
}

.margin-top-149 {
    margin-top: 149px;
}

.margin-top-150 {
    margin-top: 150px;
}

.margin-top-160 {
    margin-top: 160px;
}

.margin-top-200 {
    margin-top: 200px;
}

.margin-top-220 {
    margin-top: 220px;
}

.margin-top-230 {
    margin-top: 230px;
}

.margin-top-250 {
    margin-top: 250px;
}

.margin-top-330 {
    margin-top: 330px;
}

.margin-top-350 {
    margin-top: 350px;
}

.margin-top-380 {
    margin-top: 380px;
}

.margin-top-385 {
    margin-top: 385px;
}

.margin-top-390 {
    margin-top: 390px;
}

.margin-top-400 {
    margin-top: 400px;
}

.padding-off {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

p {
    margin: 0;
}

.container-off-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.row-off-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.aviso {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;

    div {
        display: table;
        margin: 10% auto 0;
        width: 40%;
        background-color: #f1e720;
        padding: 20px 10px;
        position: relative;

        .close {
            text-shadow: none;
            opacity: 1;
            position: absolute;
            right: 0;
            top: -30px;
            z-index: 999;
            color: #fff;
            font-size: 35px;
            line-height: 35px;
        }

        p {
            font-family: 'VAG Rounded Std';
            font-weight: 900;
            font-style: normal;
            font-size: 18px;
            line-height: 1.667;
            color: #ff0059;
            text-transform: uppercase;
        }
    }
}

.modalTimer {
    background-color: rgba(0, 0, 0, 0.5);

    .modal-dialog {
        margin: 15% auto;
    }

    .modal-content {
        background: url(../images/bg-timer.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        border: 0px solid transparent;
        border-radius: 0px;
        box-shadow: none;
        padding: 5px 0px;

        .close {
            position: absolute;
            top: -17px;
            right: -10px;
            z-index: 100;
            opacity: 1;
            font-size: 15px;
            font-weight: 700;
            line-height: 15px;
            color: #f93108;
            text-shadow: none;
            background: #fff;
            border-radius: 15px;
            padding: 4px 7px;
        }

        .coruja-timer {
            position: absolute;
            top: -75px;
            left: -125px;
        }

        .boxTimer {
            display: table;
            margin-left: 140px;

            .txt {
                font-family: 'Montserrat';
                font-weight: 800;
                font-style: normal;
                color: #f93108;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 18px;
            }


            .timer {
                display: table;
                margin-top: 8px;
                margin-bottom: 8px;

                .box {
                    display: table-cell;
                    text-align: center;
                    text-decoration: none;

                    .numero {
                        font-family: 'Montserrat';
                        font-weight: 800;
                        font-style: normal;
                        background-color: #0024ff;
                        color: #fff;
                        -webkit-border-radius: 15px;
                        -moz-border-radius: 15px;
                        border-radius: 15px;
                        font-size: 35px;
                        line-height: 35px;
                        padding: 10px 10px;
                        min-width: 68px;
                        display: block;
                    }

                    .dt {
                        font-family: 'Montserrat';
                        font-weight: 500;
                        font-style: normal;
                        color: #0024ff;
                        font-size: 30px;
                        line-height: 30px;
                        display: table-caption;
                        width: 15px;
                    }

                    p {
                        font-family: 'Montserrat';
                        font-weight: 700;
                        font-style: normal;
                        color: #0024ff;
                        font-size: 8px;
                        line-height: 8px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}




/* Extra Small */

@media(max-width:767px) {
    .padding-off-mobile {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .aviso {
        div {
            margin: 30% auto 0;
            width: 95%;
        }
    }
    .modalTimer {
        .modal-dialog {
            margin: 35% auto;
        }
        .modal-content {
            background: url(../images/bg-1.jpg);
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px;
            .close {
                top: -30px;
                right: 0;
            }
            .coruja-timer {
                display: none;
            }
            .boxTimer {
                display: table;
                margin: 0 auto;
            }
        }
    }
}