footer {
    background-color: #2f53e3;
    padding-top: 20px;
    padding-bottom: 20px;

    p {
        font-family: 'Turner';
        font-weight: 300;
        font-style: normal;
        color: #FFF;
        font-size: 12px;
        line-height: 14px;
        text-align: justify;
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-nav {
        padding-bottom: 14px;

        li {
            padding-top: 7px;
            padding-bottom: 7px;
        }

        li>a {
            padding-top: 0px;
            padding-bottom: 0px;
            font-family: 'Turner';
            font-weight: 300;
            font-style: normal;
            color: #FFF;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 14px;
            border-right: 1px solid #FFF;
        }

        li>a:focus,
        li>a:hover {
            text-decoration: underline;
            background-color: transparent;
        }

        li:last-child a {
            border-right: 0px solid transparent;
        }
    }
}

.cookies {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    height: 100%;
    top: 0;
    display: none;

    .box-cookies {
        background-color: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding-top: 27px;
        padding-bottom: 20px;
        position: absolute;
        bottom: 20px;

        p {
            font-family: 'Turner';
            font-weight: 300;
            font-style: normal;
            color: #000;
            font-size: 15px;
            line-height: 19px;
        }

        .btn_cookie {
            font-family: 'Turner';
            font-weight: 900;
            font-style: normal;
            font-size: 20px;
            line-height: 20px;
            background: #2f53e3;
            color: #f9e700;
            border: 0px solid transparent;
            border-radius: 50px;
            padding: 14px 30px 12px;
            width: 160px;
            text-transform: uppercase;
        }
    }
}



/* Extra Small */

@media(max-width:767px) {
    .cookies {
        .box-cookies {
            padding-top: 17px;

            .btn_cookie {
                margin-top: 20px;
            }
        }
    }

    footer {
        p {
            padding-left: 0px;
            padding-right: 0px;
        }

        .navbar-nav {
            background-color: transparent;

            li>a {
                border-right: 0px solid transparent;
            }
        }
    }
}


/* Small */

@media(min-width:768px) and (max-width:991px) {}


/* Medium */

@media(min-width:992px) and (max-width:1199px) {}


/* Large */

@media(min-width:1200px) {}