.infos {
    background: url(../images/bg-5.jpg) no-repeat;
    background-position: center top;
    background-size: cover;

    .redes {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
        .insta,
        .face {
            display: inline-block;
            text-decoration: none;
        }

        p {
            font-family: 'Turner';
            font-weight: bold;
            font-style: normal;
            text-align: left;
            color: #2f53e3;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 14px;
            padding-left: 10px;
            a {
                color: #d73b0f;
                text-decoration: none;
            }
        }
    }
}

/* Extra Small */
@media(max-width:767px) {}


/* Small */
@media(min-width:768px) and (max-width:991px) {}


/* Medium */
@media(min-width:992px) and (max-width:1199px) {}


/* Large */
@media(min-width:1200px) {}