.politica {
    background-color: #2f53e3;
    .politica-tt {
        padding-top: 20px;
        padding-bottom: 20px;
        h3 {
            font-family: 'Turner';
            font-weight: 900;
            font-style: normal;
            color: #fff;
            text-transform: uppercase;
            font-size: 40px;
            line-height: 40px;
            margin: 0;
            padding: 0;
        }
    }
    .politica-info {
        padding-top: 30px;
        padding-bottom: 15px;
        p {
            font-family: 'Turner';
            font-weight: 300;
            font-style: normal;
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 15px;
            a {
                color: #f9e700;
                text-decoration: underline;
            }
        }
    }
}