@font-face {
  font-family: 'VAG Rounded Std';
  src: url("../fonts/VAGRoundedStd-Black.eot");
  src: url("../fonts/VAGRoundedStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/VAGRoundedStd-Black.woff2") format("woff2"), url("../fonts/VAGRoundedStd-Black.woff") format("woff"), url("../fonts/VAGRoundedStd-Black.ttf") format("truetype"), url("../fonts/VAGRoundedStd-Black.svg#VAGRoundedStd-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-Lt.eot");
  src: url("../fonts/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

body {
  background-color: #0052e7;
  margin: 0 auto;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.aviso {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #f1e720;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -30px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #ff0059;
  text-transform: uppercase;
}

/* Extra Small */
@media (max-width: 767px) {
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #FFF;
  font-size: 12px;
  line-height: 14px;
}

footer .navbar-nav {
  padding-bottom: 14px;
}

footer .navbar-nav li {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer .navbar-nav li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  border-right: 1px solid #FFF;
}

footer .navbar-nav li > a:focus,
footer .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

.cookies {
  background-color: #fff;
  padding-top: 27px;
  padding-bottom: 20px;
  margin-top: 30px;
  display: none;
}

.cookies p {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000;
  font-size: 15px;
  line-height: 19px;
}

.cookies .btn_cookie {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  background: #554c9b;
  color: #f9e700;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 14px 30px 12px;
  width: 160px;
  text-transform: uppercase;
  margin-top: 14px;
}

/* Extra Small */
@media (max-width: 767px) {
  .cookies {
    padding-top: 17px;
    margin-top: 10px;
  }
  .cookies .btn_cookie {
    margin-top: 20px;
  }
  footer {
    padding-bottom: 20px;
    padding-top: 0px;
  }
  footer .navbar-nav li > a {
    border-right: 0px solid transparent;
  }
}

/* Small */
/* Medium */
/* Large */
.politica {
  padding-bottom: 50px;
}

.politica .politica-tt {
  padding-top: 20px;
  padding-bottom: 20px;
}

.politica .politica-tt h3 {
  font-family: 'VAG Rounded Std';
  font-weight: 900;
  font-style: normal;
  color: #FFF;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.politica .politica-info {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #fff;
}

.politica .politica-info p {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

.politica .politica-info p a {
  color: #EC2c27;
  text-decoration: underline;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 10px;
  top: -25px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.modal .modal-content {
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Extra Small */
@media (max-width: 767px) {
  .modal .modal-dialog {
    margin: 15% auto 0;
  }
}

/* Small */
/* Medium */
/*# sourceMappingURL=style.css.map */